#logoBar{
  width: 30vw;
  height: 100vh;
}
#siteLogo{
  width: 100%;
}
body {
  display: flex;
  background-color:aliceblue;
}
#staffGallery{
  width: 70vw;
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-around;
}
.galleryImage{
  width: 100%;
}

h1, h3 {
  color:blue;
  font-style:oblique;
  font-size: clamp(10px, 10vw, 50px);
}

.card {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: bisque;
  height: 400px;
  display: flex;
  flex-direction:column;
  width: 300px;
}

.container {
  padding: 2px 16px;
}

@media (max-width: 600px) {
  body {
    flex-direction: column; 
  }

  #logoBar {
    width: 100%; 
    height: auto; 
    order: -1; 
  }

  #staffGallery {
    width: 100%; 
  }

  .card {
    width: 40%; 
    height: 50%;
  }
}